<!DOCTYPE HTML>
<html>
    <head>
        <title>Signup - Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/signup.css" />
        <script src="/js/precondition.js"></script>
        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/js/signup.js"></script>
    </head>

    <body>
        <div class="container">
            <div id="holder-alert"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="active" id="login-form-link">Login</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" id="register-form-link">Register</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form" action="/" method="post" role="form" style="display: block;">
                                        <div class="form-group text-box has-feedback">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <input type="email" name="email" id="login-email" tabindex="1" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group text-box">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fas fa-lock"></i>
                                                </div>
                                                <input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group  text-center">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="register-form" role="form" style="display: none;">
                                        <div class="form-group text-box">
                                            <input type="text" name="username" id="signup-username" tabindex="1" class="form-control" placeholder="Username (minimum 3 characters)" title="username">
                                        </div>
                                        <div class="form-group text-box">
                                            <input type="email" name="email" id="signup-email" tabindex="1" class="form-control" placeholder="Email Address" title="email">
                                        </div>
                                        <div class="form-group text-box">
                                            <input type="password" name="password" id="signup-password" tabindex="2" class="form-control" placeholder="Password (minimum 6 characters)" title="password">
                                        </div>
                                        <div class="form-group text-box">
                                            <div class="input-group">
                                                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" title="confirm password">
                                                <div class="input-group-addon" id="white-addon">
                                                    <i id="alert-icon" class="fas fa-times-circle" style="display: none"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>